<div class="row rowCenter">
  <div class="item-avatar">
  <img class="imgAvatarPhotos" ng-src={{urlprofile}}>
</div>
  <div class="userInfo">
    <div class="text-center">
    <div class="title">{{albumName}}</div>
    <div class="description">{{ownerName}} • {{countPhotos}} {{'etiqueta_fotos' | translate}}</div>
    </div>
  </div>
</div>
<br>
<hr>
