<ion-view view-title="{{'etiqueta_albumes' | translate}}">
  <link ng-href="css/darkTheme.css" rel="stylesheet" ng-if="dark">
  <ion-nav-buttons side="right">
      <a class="button button-icon icon ion-gear-a" ng-click="modal.show()"></a>
    </ion-nav-buttons>
<ion-content ng-style="myStyle">
  <user-profile></user-profile>

  <div class="list card" ng-repeat="album in albumList">
    <a href="#/app/album/{{album.id}}">
      <div class="item row rowAlbum">
        <div  class="title">{{album.title['_content']}}</div>
        <div  class="subTitle">{{album.photos}} {{'etiqueta_fotos' | translate}}</div>
      </div>

      <div class="item item-image">
        <img  ng-src={{album.photoalbumurl}}>
        <div style="overflow:hidden; text-overflow: ellipsis" class="description">{{album.description._content}}</div>
      </div>
    </a>
  </div>

</ion-content>

</ion-view>
