<ion-view view-title="{{'etiqueta_fotos' | translate}}">
  <ion-content>
    <album-info></album-info>

    <div class="btn-filter">
      <button ng-click="order = 'info.photo.dates.posted'; (active = false)" class="button button-small ion-calendar icon-left button-dark" ng-class="active?'button-outline':''">
        {{'boton_ordenar_por_fecha' | translate}}
      </button>
      <button ng-click="order = 'info.photo.title._content'; (active = true)" class="button button-dark button-small ion-pound icon-left" ng-class="active?'':'button-outline'">
        {{'boton_ordenar_por_nombre' | translate}}
      </button>
    </div>
    <div ng-repeat="photo in photoList | orderBy: order" class="img-device" layout="row">

      <div ng-click="buscarComentario(photo.info.photo.id)" class="item item-image" flex >
        <img ng-src="{{photo.sizes.sizes.size[5].source}}">
      </div>

      <div class="row optionsPhoto" ng-if="(photo.info.photo.id === idPhoto)">
        <i class="icon ion-earth" ng-click="openBrowser(photo.info.photo.urls.url[0]._content)"></i>
        <i class="icon ion-email" ng-click="share(photo.info.photo.urls.url[0]._content, photo.info.photo.owner.username)"></i>
        <i class="icon ion-chevron-up" ng-click="hideComments()"></i>
      </div>
      <h4  ng-if="(photo.info.photo.id === idPhoto)"  <i class="icon ion-chatbox comment-title"></i> <strong>{{'etiqueta_comentarios' | translate}} </strong><h4>
        <div ng-if="(photo.info.photo.id === idPhoto)" ng-show="flagLoading" style="text-align: center;"><ion-spinner icon="lines"></ion-spinner></div>
        <h4 ng-if="photo.info.photo.id === idPhoto" ng-show="noComment" class="comment">{{'etiqueta_no_hay_comentarios' | translate}}</h4>

        <div ng-if="photo.info.photo.id === idPhoto" ng-repeat="comment in commentList">
          <div class="comment">
            <h4 class="small-comment">
              <strong>{{comment.authorname}}</strong>
              {{comment._content}}
              <h5 class="date">{{comment.datecreate | date:'mediumDate'}}</h5>
            </h4>
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
