<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">{{'etiqueta_preferencias' | translate}}</h1>
    <a class="button button-icon icon ion-close-round" ng-click="modal.hide()"></a>
    </ion-header-bar>
    <ion-content>

<ul class="list">
  <div class="item item-divider">
     {{'etiqueta_lenguaje' | translate}}
   </div>
   <ion-list>
   <ion-radio ng-click="changeLanguage('es')">{{ 'etiqueta_español' | translate }}</ion-radio>
   <ion-radio ng-click="changeLanguage('en')">{{ 'etiqueta_ingles' | translate }}</ion-radio>
 </ion-list>

  <div class="item item-divider">
     {{ 'etiqueta_temas' | translate }}
   </div>

  <li class="item item-toggle">
     {{ 'etiqueta_nocturno' | translate }}
     <label class="toggle toggle-dark">
       <input type="checkbox" ng-model="dark" ng-checked="dark" ng-click="darkOn(dark)">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>
</ion-content>
</ion-modal-view>
