
<div class="list" id="profile">
  <div ng-show="flagChangeUser" class="item item-input-inset">
    <label class="item-input-wrapper" >
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" placeholder="{{'etiqueta_nombre_de_usuario' | translate}}" ng-model="user_name" type="text">
  </label>
  <button class="button button-clear button-small button-dark" ng-click="buscar(user_name); user_name=''">
    {{'boton_buscar'| translate }}
  </button>
  </div>

</div>

<div class="row rowCenter">
  <div class="item-avatar">
  <img class="imgAvatar" ng-src={{urlprofile}}>
  </div>
  <div class="userInfo">
    <div class="text-center">
    <div class="title">{{user_data.realname._content}}</div>
    <div class="description">{{user_data.location._content}} • {{countAlbums}} {{'etiqueta_albumes' | translate}}</div>
    <button class="button button-outline button-dark button-small ion-person icon-right" style="margin-top: 10px;" ng-click="changeUser()">{{'boton_cambiar_usuario' | translate}}</button>
    </div>
  </div>
</div>
<hr>
