/*Inicio modo nocturno*/

.overflow-scroll {
  background-color: black;
  color: white;
}

.scroll {
  background-color: black;
  color: white;
}

.modal-open .modal, .modal-open .modal-backdrop {
    background-color: black;
}

.description {
  color: white;
}

.button.button-dark.button-outline {
    border-color: white;
    color: white;
}

.card {
    border: solid;
    border-width: 1px;
    border-color: white;
}
.card .item {
  background-color: black;
  color: white;
}

.item-input-inset {
  background-color: black;
  color : white;
}

.item-input-wrapper {
  background-color: #444;
  color:white;
}

.item-input-inset .item-input-wrapper input {
  color: white;
}

h4{
  color:white;
}

.item-divider {
  background-color: #444;
  color: white;
}
.item-toggle{
  background-color: black;
  color: white;
}


.item-radio .item-content {
  background-color: black;
  color: white;
}

.item-radio input:checked + .radio-content .item-content {
  background-color: black;
  color: white;

}
i{
  color:white;
}


/*Fin Modo nocturno*/
