@font-face {
    font-family: 'Open Sans Condensed';
    src: local('OpenSans-CondLight'), url(../fonts/OpenSans-CondLight.ttf) format('truetype');
}

h1, h2, h3, h4, h5, p {
  font-family: 'Open Sans Condensed', sans-serif;
}

.title {
  color: #00000;
  font-size: 1.3rem;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}
.subTitle {
    color: #00000;
    font-size: 0.8rem;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 3px;
    margin-left: 5px;
}
.description {
    color: black;
    font-size: 1rem;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.rowAlbum {
    padding: 5px;
    text-align: center;
}

.item-image {
  padding: 0;

}

a {
  text-decoration: none;
}

.userInfo {
  margin-top: 15px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.rowCenter {
  align-items: center;
  justify-content: center;
}

#profile {
  margin: 0;
}

hr {
  width: 90%;
  color: gray;
}

/*Muestra de fotos - INICIO*/

div.rowFoto img {
  width: 49.4%;
  height: auto;
  margin-top: 5px;
}

.rowFoto {
  line-height: 0;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  text-align: justify;
}

.comment {
  text-align: left;
  margin: 10px;
}

.comment .date {
  text-align: right;
  font-size: small;
  color: #9c9c9c;
}

.small-comment {
  font-size: medium;
}

.optionsPhoto {
  text-align: right;
  height: 30px;
  font-size: 3.5vh;
  display: inline-block;
}

.optionsPhoto .icon {
  margin-right: 20px;
}


.div-img-device {
  background-color: #4F8CA5;
  margin: 0;
  autoborder: 1px solid black;
  border-radius: 4px;
  text-align: center;
  color: white;
}

.img-device {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.comment-title {
  font-size: 1.2em;
  margin-left: 5px;
  padding-bottom: 10px;
}

.btn-filter {
  width: 100%;
  text-align: center;
}

.imgAvatar{
  top: 0px !important;
  max-width: 100% !important;
  max-height: 100% !important;
}
.imgAvatarPhotos {
  max-width: 80px !important;
  max-height: 80px !important;
  margin-left: 10px;
}
.item-avatar{
  position: relative;
  min-width: 90px;
  min-height: 90px;
}

.button.button-positive {
  background-color: #444;
}


@media only screen and (max-width: 320px) {
  body { font-size: 2em; }
}

/*Theme*/
.overflow-scroll {
  background-color: #F3F5F6;

}

.scroll {
  background-color: #F3F5F6;

}
